
<div class="envoi-webmention">

    <h5>Vous avez écrit une réponse à ce post ?</h5>
        <h6>Faites-moi connaître l'URL :</h6>

        <form action="https://webmention.herokuapp.com/api/webmention" method="post">
            <input name="source" type="url" placeholder="http://exemple.com/mon-post-cool">
            <input name="target" value="http://christopheducamp.com/2017/07/25/100-days-of-code/" type="hidden">
            <input class="btn btn-primary" role="button" value="Envoyer l'URL" type="submit">
        </form>
</div>

<div class="webmention-mention webmention-author webmention-name webmention-footer webmention-summary webmention-published webmention-interaction-presentation webmention-face-pile webmention-interaction-like webmention-interaction-presentation:after webmention-interaction-repost">

<script id="webmention-hosted">

(function () {
var sn = document.createElement("script"), s = document.getElementsByTagName("script")[0], url;
url = document.querySelectorAll ? document.querySelectorAll("link[rel~=canonical]") : false;
url = url && url[0] ? url[0].href : false;
sn.type = "text/javascript"; sn.async = true;
sn.src = "//webmention.herokuapp.com/api/embed?url=" + encodeURIComponent(url || window.location);
s.parentNode.insertBefore(sn, s);
}());
</script>

</div>